body{
  background-color:#00EAD3;
}
h1{
  color: #005555;
}
h2{
  color: #005555;
}
h3{
  color: #005555;
}
hr{
  background-color:#00EAD3 ;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
